<div class="container">    
        <div class="row">
            <div class="panel panel-default">
            <div class="panel-heading">  <h4 >O Autoru</h4></div>
             <div class="panel-body">
            <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
             <img alt="User Pic" src="assets/images/autor.jpg" id="profile-image1" class="img-circle img-responsive"> 
           
       
            </div>
            <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8" >
                <div class="container" >
                  <h2>Stefan Drobnjak</h2>
                  <p>Student trece godine Visoke ICT Skole</p>
                
                 
                </div>
                 <hr>
                <ul class="container details" >
                  <li><p><i class="fas fa-calendar-week fa-lg"></i>27.05.1997</p></li>
                  <li><p><i class="fas fa-map-marker-alt fa-lg"></i>Beograd</p></li>
                  <li><p><i class="fas fa-envelope fa-lg"></i>stefan.drobnjak.14.16@ict.edu.rs</p></li>
                  <li><p><i class="fab fa-github-square fa-lg"></i><a href='https://github.com/DrobnjakS18'>GitHub</a></p></li>
                  <li><p><i class="fab fa-linkedin fa-lg"></i><a href='https://www.linkedin.com/in/stefan-drobnjak-709081180/'>LinkedIn</a></p></li>
                </ul>
                <hr>
                <div class="col-sm-5 col-xs-6 tital">Zavrsio sam srednju ekonomsku skolu u Beogradu. Dalje skolovanje sam nastavio na Visokoj ICT skoli koju trenutno zavrsavam. Ovo je moj prvi projekat iz Angulara.Broj indeksa 14/16.</div>
            </div>
      </div>
  </div>
  </div>
    <div class="kontakt_forma" @slide>
        <div class="row">
            <div class="col-md-3">
                <div class="contact-info">
                    <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
                    <h2>Kontakt</h2>
                    <h4>Voleli bi da cujemo od vas.</h4>
                </div>
            </div>
            <div class="col-md-9">
                <div class="contact-form">
                  <form id="kontakt" (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="fname" >Ime:</label>
                      <div class="col-sm-10">          
                        <input type="text" class="form-control" ngModel id="fname"  required name="fname"  #ime="ngModel">
                        <span class="help-block" *ngIf="!ime.valid && ime.touched">  Ime je obavezno.</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="lname">Prezime:</label>
                      <div class="col-sm-10">          
                        <input type="text" class="form-control" ngModel id="lname" required  name="lname" #prezime="ngModel" >
                        <span class="help-block" *ngIf="!prezime.valid && prezime.touched">Prezime je obavezno.</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="email">Email:</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" ngModel  name="email" required email #email="ngModel">
                        <span class="help-block" *ngIf="!email.valid && email.touched">  Email je neispravan.</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="comment">Poruka:</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" rows="5" id="comment"  ngModel name="comment" required #poruka="ngModel"></textarea>
                        <span class="help-block" *ngIf="!poruka.valid && poruka.touched">Poruka je obavezna.</span>
                      </div>
                    </div>
                    <div class="form-group">        
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" [disabled]="!f.valid">Posalji</button>
                        <span *ngIf="uspesno" class="text-success">Uspesno poslata poruka.</span>
                      </div>
                    </div>
                  </form>
                </div>
            </div>
        </div>

    </div>
      