<div class="row">

        <div class="col-md-12" @fade>
      
          <div id="mdb-lightbox-ui"></div>
      
          <div class="mdb-lightbox" >
              <h1>Glavni naslovi</h1>

              
              <div class="col-md-6" *ngFor="let slika of galerija">
 
                  <a href="assets/images/{{slika.src}}">
                    <div class="text">
                        <h3>{{slika.naslov}}</h3>
                      </div>
                    <img alt="{{slika.alt}}" src="assets/images/{{slika.src}}" class="img-fluid"  width="594px" height="366px">
                    
                  </a>
                  
              </div>
      
          </div>
      
        </div>
      </div>
