<div class="row">

        <div class="col-md-12" @fade>
      
          <div id="mdb-lightbox-ui"></div>
      
          <div class="mdb-lightbox" >
              <h1>Najnovije slike</h1>

              
              <div class="col-md-6" *ngFor="let slika of galerija">
 
                  <a href="assets/images/{{slika.src}}">
                    <div class="text">
                        <h3>{{slika.naslov}}</h3>
                      </div>
                    <img alt="{{slika.alt}}" src="assets/images/{{slika.src}}" class="img-fluid"  width="594px" height="366px">
                    
                  </a>
                  
              </div>

            
<!--       
           
              <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(150).jpg" >
                <img alt="picture" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(150).jpg" class="img-fluid" />
              </a>
            
      
           
              <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(152).jpg" >
                <img alt="picture" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(152).jpg" class="img-fluid" />
              </a>
            
      
           
              <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(42).jpg" >
                <img alt="picture" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(42).jpg" class="img-fluid" />
              </a>
            
      
           
              <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(151).jpg" >
                <img alt="picture" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(151).jpg" class="img-fluid" />
              </a>
            
      
           
              <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(40).jpg" >
                <img alt="picture" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(40).jpg" class="img-fluid" />
              </a>
            
      
           
              <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(148).jpg" >
                <img alt="picture" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(148).jpg" class="img-fluid" />
              </a>
            
      
           
              <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(147).jpg" >
                <img alt="picture" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" class="img-fluid" />
              </a>
            
      
           
              <a href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(149).jpg" >
                <img alt="picture" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(149).jpg" class="img-fluid" />
              </a>
             -->
      
          </div>
      
        </div>
      </div>
        <!-- <figure class="col-md-6"> --> 
         <!-- </figure> -->
         