<header>
    <h1><a href="index.html">Srbija Press</a></h1>
    <nav>
      <ul>
        <li routerLinkActive="active"><a routerLink="/">Pocetna</a></li>
        <li><a routerLink="/galerija">Galerija</a></li>
        <li><a routerLink="/kontakt">Kontakt</a></li>
      </ul>
    </nav>
  </header>
      <div id="adbanner">
      </div>
      <div id="secwrapper">
          <section>
              <router-outlet></router-outlet> 
          </section>
        </div>
        <footer>
          <p>Copyright &copy;2019 by Stefan Drobnjak</p>
        </footer>